.playlist-name{
    margin: 0;
    padding: 0;
    font-size: 26px;
    padding: 5px;
}

.playlist-duration{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    opacity: 0.6;
    font-size: 12px;
    font-weight: 300;
    padding: 5px;
}

.playlist-description{
    margin: 0;
    padding: 0;
    opacity: 0.6;
    font-size: 14px;
    padding: 0 5px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    max-height: 70px;
    overflow-y: auto;
}

::-webkit-scrollbar{
    display: none;
}

//Dans le cas d'une cover non nulle
.cover-full{
    height: 150px;
    min-width: 150px;
    border-radius: 12px;
    overflow: hidden;

    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

//Dans le cas d'une cover nulle

// .covers-for-cover{
//     height: 75px;
//     width: 75px;
// }   

// .cover-grid{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-columns: 1fr 1fr;
//     border-radius: 12px;
//     height: 150px;
//     width: 150px;
//     overflow: hidden;
//     background-color: yellow;
// }

// .cover-grid-one{
//     height: 75px;
//     width: 75px;
//     grid-column: 1/2;
//     grid-row:1/2;
// }

// .cover-grid-two{
//     height: 75px;
//     width: 75px;
//     grid-column: 1/2;
//     grid-row:2/3;
// }

// .cover-grid-three{
//     height: 75px;
//     width: 75px;
//     grid-column: 2/3;
//     grid-row:1/2;
// }

// .cover-grid-four{
//     height: 75px;
//     width: 75px;
//     grid-column: 2/3;
//     grid-row:2/3;
// }