.cover-image-in-list{
    max-height: 65px;
    max-width: 65px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    object-fit: cover;
}

.song-title-in-list{
    font-size: 18px;
    line-height: 0;
}

.artist-name-in-list{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 0px;

    .comma:hover{
        opacity: 0.7;
        text-decoration: none;
    }

    a{
        opacity: 0.7;
        transition: all 0.1s ease-out;
    }

    a:hover{
        text-decoration: underline;
        opacity: 1;
    }
}

.control-icon-in-list{
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    justify-content: center;
    padding : 0px 15px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
}

.control-icon-in-list:hover{
    opacity: 1;
}

.liked{
    color: red;
    opacity: 1;
    transition: opacity 0.1s ease-out;
}

.liked:hover{
    opacity: 0.6;
}

