.artist-cover-full{
    height: 150px;
    min-width: 150px;
    border-radius: 12px;
    overflow: hidden;

    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
}

.artist-page-name{
    opacity: 1;
    padding: 0;
    font-size: 36px;
    margin: 0;
}

.artist-follow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    height: 30px;
    padding: 1px 7px;
    opacity: 0.5;
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.1s ease-out;

    &:hover{
        opacity: 1;
    }
}

.artist-play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-color: #23263d;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    
    &:hover{
        .artist-play-icon{
            opacity: 1;
        }
    }

    .artist-play-icon{
        margin-left: 3px;
        height: 23px;
        width: 23px;
        opacity: 0.6;
        transition: all 0.1s ease-out;
    }
}

.artist-section-titles{
    margin: 0;
    height: 52px;
    font-size: 22px;
    padding: 9px 0;
}

.rank{
    font-size: 12px;
    font-weight: 300;
    opacity: 0.8;
    text-align: center;
    width: 20px;
}

.explicit{
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23263d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    margin: 2px 0 0 6px;
    border-radius: 4px;

    font-size: 10px;
    font-weight: 700;
    
}

.popular-song-title{
    display: flex;
    margin: 0;
    align-items: center;
    font-size: 16px;
    margin-left: 20px; 
}

.popular-song-cover{
    height: 40px;
    margin-left: 15px;
    border-radius: 6px;
}

.popular-song-duration{
    margin: 0px 0 0 12px;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.8;
    width: 35px;
}

.popular-song-like{
    margin: 0px 12px 0 0;
    opacity: 0.6;
    height: 15px;
    transition: all 0.1s ease-out;

    &:hover{
        color: red;
    }
}

.popular-song-ellipsis{
    margin: 0px 12px;
    opacity: 0.6;
    height: 17px;
    transition: all 0.1s ease-out;

    &:hover{
        opacity: 1;
    }
}

.popular-song-streams{
    font-size: 13px;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 25px; 
}