body{
    margin: none;
    padding: none;
    color: white;
}

.home-title{
    display: flex;
    align-items: center;
    font-weight: 700;   
}

.track-wrapper-title{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}

.recent-playlists-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    flex-direction: row;
    overflow-x: auto;
}

.recent-playlists-wrapper::-webkit-scrollbar{
    display: none;
}

.link-test{
    text-decoration: none;
}