//Library page
.library-title{
    display: flex;
    align-items: center;
    font-weight: 700;   
    margin-bottom: 0;
}

.library-small-titles{
    font-size: 18px;
    margin: 0;
    margin-top: 15px;
}

//Library artist card
.artist-image-library{
    width: 120px;
    height: 120px;
    margin: 10px 0 0px 0;
    border-radius: 7px;
}

.artist-name-library{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    opacity: 80%;
    margin: 0;
    transition: opacity 0.1s ease-out;
}

//Library playlist & album card
.playlist-album-card-cover{
    display: flex;
    align-items: center;
    min-width: 110px;
    min-height: 110px;
    border-radius: 6px;
    margin-left: 10px;
    overflow: hidden;
    
    position: relative;

    .playlist-album-play-button{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 110px;
        min-height: 110px;
        z-index: 1;
        position: absolute;
        background-color: #00000000;
        transition: background-color 0.1s ease-out;

        &:hover{
            background-color: #00000040;

            .play{
                color: white;
            }
        }

        .play{
            height: 40px;
            width: 40px;
            color: transparent;
            transition: all 0.1s ease-out;
            
            margin-left: 3px;

            &:hover{
                opacity: 0.8;
            }
        }


    }
}

.playlist-album-image-library{
    max-width: 110px;
    max-height: 110px;
    position: relative;
    z-index: 0;
    object-fit: cover;
}



.playlist-album-name-library{
    font-size: 14px;
    font-weight: 600;
    opacity: 80%;
    transition: opacity 0.1s ease-out;
}

.playlist-album-username-library{
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 11px;
    font-weight: 400;
    opacity: 60%;
    transition: opacity 0.1s ease-out;
}

.playlist-album-songnumber-library{
    margin: 0;
    padding: 0;
    line-height: 4;
    font-size: 10px;
    font-style: italic;
    opacity: 40%;
    transition: opacity 0.1s ease-out;
}

.duration-container-library{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 0 0 ;
    padding-right: 14px;
    width: 100%;
}


.duration-library{
    padding: 0px 8px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
}

.duration-content-library {
    padding: 0;
    font-size: 9px;
    opacity: 0.8;
    transition: opacity 0.1s ease-out;
}


