.songSource{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;
    letter-spacing: 1px;
    padding: 5px 15px ;
    min-height: 45px;
    font-size: 12px;
    margin: 30px 0 0px 0;
    border-radius: 8px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);

    p{
        margin-top: 0;
        margin-bottom: 11px;
        font-weight: 300;
    }

    a{
        padding-bottom: 0;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        transition: opacity 0.1s ease-out;
    }

    a:hover{
        opacity: 70%;
    }
}

.progress-container{
    background-color: #161728;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px ;
    height: 3px;
    width: 100%;
    transition: height 0.02s ease-in
}

.progress {
    background-color: #fff;
    opacity: 70%;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s ease-out, opacity 0.2s ease-out;
}

.progress-container:hover .progress{
    opacity:100%;
}

.progress-container:hover{
    height: 5px;

    &.progress{
        opacity:100%;
    }
}

.song-time {
    width: 30px;
    opacity: 50%;
    font-size: 14px;
}

.shuffle-repeat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    padding: 15px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    opacity: 60%;
    transition: opacity 0.1s ease-out;
}

.shuffle-repeat:hover{
    opacity: 1;
}

.active {
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
    opacity : 1;
}

.song-title-music-player{
    margin-top: 8px;
    font-size: 22px;
}

.song-artist-music-player{
    font-size: 14px;
    opacity: 80%;
}

.now-playing{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    opacity: 80%;
}


.main-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause, .forward-backward{
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 15px;
    opacity: 0.6;
    margin: 0 3px;
    cursor: pointer;
    transition: opacity 0.1s ease-out, box-shadow 0.1s ease-out;
    border-radius: 50%;
}

.play-pause:hover, .forward-backward:hover{
    opacity: 100%;
}

.play-pause{
    height: 15px;
    width: 15px;
}

.play-pause-active {
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
}

.forward-backward{
    height: 15px;
    width: 15px;
}


.forward-backward:hover{
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
}

