.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 13px 13px;
    margin: 15px;
    border-radius: 50%;
    opacity: 60%;
    cursor: pointer;
    color: white;
    transition: opacity 0.15s ease;
}

.icon:hover{
    opacity: 100%;
}

.active {
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
    opacity : 1;
    transition: box-shadow 0.1s ease-out, opacity 0.1s ease-out;
}


.logo{
    height: 45px;
    width: 45px;
}

.link{
    
    text-decoration: none;
    color: white;

}