.cover-playlist-minimal{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 0 3px 0;
}

.playlist-title{
    display: flex;
    margin: 2px 3px 0px;
    font-size: 20px;
    height: 30px;
    opacity: 80%;
    transition: opacity 0.1s ease-out;
}

.playlist-user{
    display: flex;
    margin: 0 3px 0px;
    font-size: 15px;
    height: 30px;
    opacity: 60%;
    transition: opacity 0.1s ease-out;
}

.description{
    margin: 0 3px 0;
    opacity: 40%;
    font-size: 12px;
    height: 70px;
    font-style: italic;
    width: 70%;
    transition: opacity 0.1s ease-out;
}

.duration-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70px;
    padding-right: 10px;
    padding-bottom: 4px;
    width: 30%;
}

.duration{
    padding: 0px 10px;
    border-radius: 16px;
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
}

.duration-content {
    padding: 0;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 0.1s ease-out;
}
