.volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 58%;
    padding: 4%;
    margin-top: 18px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.volume-icon{
    height: 18px;
    width: 18px;
    margin-right: 4px;
}

.rangeContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    height: 80%;
    width: 80%;
    

}

.rangeContainer .bar {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 2px;
    width: 97%;
    height: 3px;
    border-radius: 5px;
    background-color: #161728;
    
}

.rangeContainer .bar .fill {
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color : #595b99;  
    transition: width 0.1s ease-out;  
}

.rangeContainer .volumeSlider{
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}



.volumeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #595b99;
    cursor: pointer;
    transition: height 0.1s, width 0.1s;
}

.volumeSlider::-webkit-slider-thumb:hover{
    height: 12px;
    width: 12px; 
}


