.search-bar{
    background-color: #23263d;
    width: 500px;
    height: 45px;
    border: none;
    border-radius: 25px;
    padding: 5px 20px 5px 60px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.search-bar:focus{
    outline: none;
}

.search-icon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    opacity: 1;
    margin-top: 1px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.search {
    margin-left: 10px;
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
    
}

.clear{
    display: none;
    cursor: pointer;
    opacity: 0.6;
    margin-left: 445px;
    transition: opacity 0.1s ease-out;
}

.clear:hover{
    opacity: 1;
}

.results-title{
    display: none;
    margin: 0;
    margin-top: 20px;
}

.no-results{
    position: absolute;
    top: 50%;
    line-height: 0;
    margin: none;
    padding: none;
}


/*Main results*/
.main-results-wrapper{
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    grid-gap: 15px;
}

/*Main artist*/
.main-artist{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-bottom: 15px;
    background-color: #23263d;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    transition: all 0.1s ease-out;
    cursor: pointer;
    

    &:hover{
        box-shadow: 6px 6px 12px 2px rgba(0, 0, 0, 0.4);
        transform: translate(-2px, -2px);
    }

    &:hover .main-artist-label, &:hover .main-artist-name{
         opacity: 100%;
    }
}

.main-artist-image{
    margin-top: 22px;
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

.main-artist-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 22px;
}

.main-artist-name{
    padding: 5px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    opacity: 80%;
    transition: opacity 0.1s ease-out;
}

.main-artist-label{
    display: flex;
    width: 60px;
    padding: 5px 10px;
    margin: 0;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    background-color : #161728;
    opacity: 60%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-out;
}

/*Main songs*/
.searched-song-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin-left: 8px;
    img{
        height: 52px;
        border-radius: 8px;
    }
}

.searched-song-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 8px;

    h3{
        opacity: 80%;
    }

    p{
        font-size: 14px;
        opacity: 60%;
    }

    p, h3{
        margin: 0;
        padding: 0;
        transition: opacity 0.1s ease-out;
    }
}

.searched-song-right{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    width:  40%;
    margin-right: 15px;
}

.searched-song-control{
    margin: 0 15px;
    transition: opacity 0.1s ease-out;
    opacity: 50%;

    &:hover{
        opacity: 100%;
    }
}

.search-song-control-play-button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    min-height: 52px;
    z-index: 1;
    position: absolute;
    background-color: #00000000;
    transition: background-color 0.1s ease-out;
    &:hover{
        background-color: #00000040;

        .play{
            color: white;
        }
    }

    .play{
        height: 15px;
        width: 15px;
        color: transparent;
        transition: all 0.1s ease-out;
        margin-left: 3px;

        &:hover{
            opacity: 0.8;
        }
    }
}

.liked-song{
    opacity: 70%;
    color: red;
}



