.cover-image{
    height: 74px;
    width: 74px;
    position: relative;
    z-index: 0;
    object-fit: cover;
    
}

.song-title{
    font-size: 22px;
    line-height: 0;
    opacity: 80%;
    transition: opacity 0.1s ease-out;
    margin-top: 0px;
    margin-bottom: 15px;
}

.artist-name{
    font-size: 14px;
    opacity: 0.7;
    line-height: 0;
    opacity: 60%;
    transition: opacity 0.1s ease-out;
    margin-top: 15px;
    margin-bottom: 0px;
}

.control-icon{
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    justify-content: center;
    padding : 15px 15px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
}

.control-icon:hover{
    opacity: 1;
}

.control-icon-liked{
    display: flex;
    height: 15px;
    width: 15px;
    align-items: center;
    justify-content: center;
    padding : 15px 15px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
    color: red;
}

.control-icon-liked:hover{
    opacity: 1;
}

.play {
    border-radius: 50%;
    /* color: #23263d; */
    /* background-color: white; */
}

.control-icon-active {
    box-shadow: inset 5px 5px 11px #1e2034, inset -5px -5px 11px #282c46;
    transition: box-shadow 0.1s ease-out, opacity 0.1s ease-out;
}